body {
	display: flex;
	align-items: center;
	height: 100vh;
	background: #DFDFDF;
}
h1 {
	letter-spacing: 2px;
}
h1 span {
	opacity: 0.6;
	color: #272727;
}
.vertical-align {
	display: flex;
	flex-direction: column;

}
.lables {
	display: flex;
	justify-content: space-around;  
}