*{
    font-family: 'Old Standard TT', serif;
}



#btn {
	background-color: #ECECEC; 
	color: green;
}

#btn:hover {
	/*background-color:green;*/
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}