
      html, body {
        margin: 0;
        font-family: 'Poppins', sans-serif;
      }
      
      .navbar {
        padding: 0;
        background: #ECECEC;
        border-bottom: 1px solid #bbb; 
      }  
    
      .nav-item:nth-child(1){
        border-left: 1px solid #bbb;
      }

     .nav-item{
        display: inline-block;
        list-style-type: none;
        border-right: 1px solid #bbb;
      }

      .nav-item .nav-link{
        color: #333;
        font-size: 10pt;
        display: block;
      }

       .nav-item .nav-link:hover {
         background-color: white;
       }

       .active {
        background-color: #DFDFDF;
       }

       
       .navbar-expand-md .navbar-nav .nav-link {
            padding: 1.4rem;
        }

       .wrapper {
         max-width:1000px;
         margin: 0 auto;
       }

       .navbar-toggler {
          background: url("../images/mobile_menu.png") no-repeat center center;
          float: right;
          margin-right: 10px;
      }

      .logo {
        position: relative;
        margin-right: 100px;
        letter-spacing: 5px;
        font-weight: 900;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 10px;
      }

      .logo::after {
        content: ".info";
        border: none;
        letter-spacing: 1px;
        position: absolute;
        right: -12px;
        bottom: 2px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
      }

       #content {
         background: #DFDFDF;
         padding: 2rem 1rem;
         overflow: hidden;
       }

       .img-box {
         margin-bottom: 10px;
       }

       .img-box img:hover {
        cursor: pointer;

       }

       .info {
         padding-top: 7px; 
       }

       .info span {
         color: #A7A7A7;
         margin-left: 10px;
       }

        .more-info {
          font-size: 14px;
        }

        .more-info span {
          color: blue;
          text-decoration: underline;
        }

        .more-info span:hover {
          cursor: pointer;
        }
       
       footer {
          background: #333333;
          color: #fff;
       }